.col-1, .col-2, .col-3, .col-4{ float:left}
/*======= width =======*/
.main{margin:0 auto; text-align:left; width:959px; }

/*======= header =======*/
#header {height:512px;  background:url(images/top_helix.jpg) no-repeat top center}

/*======= index.html =======*/
#page1 #content .col-1{ width:241px}
#page1 #content .col-2{ width:716px}
#page1 #content .row .col-1{ width:430px; margin-right:41px}
#page1 #content .row .col-2{ width:425px}
#page1 #content .row1 .col-1{ width:311px; margin-right:30px}
#page1 #content .row1 .col-2{ width:311px}
/*======= index-1.html =======*/
#page2 #content .col-1{ width:716px}
#page2 #content .col-2{ width:241px}
#page2 #content .row .col-1{ width:660px; margin-right:40px}
#page2 #content .row .col-2{ width:193px}
#page2 #content .row1 .col-1{ width:311px; margin-right:30px}
#page2 #content .row1 .col-2{ width:311px}
/*======= index-2.html =======*/
#page3 #content .col-1{ width:241px}
#page3 #content .col-2{ width:716px}
#page3 #content .row .col-1{ width:200px; margin-right:32px}
#page3 #content .row .col-2{ width:194px}
#page3 #content .row1 .col-1{ width:311px; margin-right:30px}
#page3 #content .row1 .col-2{ width:311px}
/*======= index-3.html =======*/
#page4 #content .col-1{ width:241px}
#page4 #content .col-2{ width:716px}
#page4 #content .row .col-1{ width:200px; margin-right:32px}
#page4 #content .row .col-2{ width:194px}
#page4 #content .row1 .col-1{ width:311px; margin-right:30px}
#page4 #content .row1 .col-2{ width:311px}
/*======= index-4.html =======*/
#page5 #content .col-1{ width:241px}
#page5 #content .col-2{ width:716px}
#page5 #content .row .col-1{ width:193px; margin-right:40px}
#page5 #content .row .col-2{ width:660px}
#page5 #content .row1 .col-1{ width:311px; margin-right:30px}
#page5 #content .row1 .col-2{ width:311px}
/*======= index-5.html =======*/
#page6 #content .col-1{ width:241px}
#page6 #content .col-2{ width:716px}
#page6 #content .row .col-1{ width:200px; margin-right:32px}
#page6 #content .row .col-2{ width:194px}
#page6 #content .row1 .col-1{ width:321px; margin-right:21px}
#page6 #content .row1 .col-2{ width:300px}

/*======= All of our product pages share the same layout =======*/
#prodPage #content .col-1{ width:716px}
#prodPage #content .col-2{ width:241px}
#prodPage #content .row .col-1{ width:426px; margin-right:40px}
#prodPage #content .row .col-2{ width:427px}
#prodPage #content .row1 .col-1{ width:311px; margin-right:30px}
#prodPage #content .row1 .col-2{ width:311px}

/*======= Our download response pages =======*/
#downloadPage #content .col-1{ width:716px}
#downloadPage #content .col-2{ width:241px}
#downloadPage #content .row .col-1{ width:426px; margin-right:40px}
#downloadPage #content .row .col-2{ width:427px}
#downloadPage #content .row1 .col-1{ width:622px; margin-right:30px}
#downloadPage #content .row1 .col-2{ width:0px}

/*======= purchase.html =======*/
#purchasePage #content .col-1{ width:241px}
#purchasePage #content .col-2{ width:716px}
#purchasePage #content .row .col-1{ width:664px; margin-right:32px}
#purchasePage #content .row .col-3{ width:194px}
#purchasePage #content .row1 .col-1{ width:321px; margin-right:21px}
#purchasePage #content .row1 .col-2{ width:300px}


/*======= footer =======*/
#footer { height:110px; }
