/* CSS Document */
* { margin:0; padding:0;}
html, body { height:100%; }
body {
	font-size:100%; 
	line-height:1.1875em; 
	background:url(images/Helix_Cropped_1024_844.jpg);
	background-size: cover;
	background-attachment: fixed;
}
html, input, textarea	{	font-family: Arial, Helvetica, sans-serif; 
		color:#000000;	}	

.alignMiddle{ vertical-align:middle}
.alignCenter{ text-align: center}
.container1{ width:100%}
object { vertical-align:top; outline:none}
.clear { clear:both;}
.fleft{ float:left}
.fright{ float:right}
div.container {	overflow:hidden; width: 100%;}
a img{ border:0}
img{ vertical-align:top;  }

a{color:#02bef8; text-decoration:underline; outline:none} 
a:hover{text-decoration:none}

.link{color:#000000; background:url(images/marker.gif) top left no-repeat; padding-left:20px; background-position:0 5px; text-decoration:none; font-size:.916em  }
.link:hover{text-decoration:underline }

.link1{color:#02bef8; font-size:1.33em; margin-bottom:15px; font-weight:normal; display:block  }
.link2{color:#060606; }
.link3{color:#787878; }


.button{color:#fff; background:url(images/button.gif) top left no-repeat; padding:7px 11px 15px 12px; text-decoration:none; display:block; float:left; font-family:Tahoma, Geneva, sans-serif  }
.button:hover{text-decoration:none; background:url(images/button-act.gif) top left no-repeat; padding:3px 11px 19px 12px; display:block; float:left;   }

#content ul{margin:0; padding:0; list-style:none;}
#content ul li{background:url(images/tail.gif) repeat-x bottom; }
#content ul .last{background:none}
#content ul li a{color:#1a1a1a; text-decoration:none; line-height:2.75em; background:url(images/marker1.gif) top left no-repeat; background-position:0 3px; padding-left:17px;} 
#content ul li a:hover { color:#fff; text-decoration:none; }
#content ul .current a { color:#fff; text-decoration:none; }

#content .ul{margin:0; padding:0; list-style:none;}
#content .ul li{ margin:0; display:inline; background:none; padding:0}
#content .ul li a{ background:url(images/button-2.gif) top left no-repeat; color:#fff; text-decoration:none; width:239px; text-align:center; display:block; float:left ; padding:19px 0 17px 0; display:block; text-transform:uppercase; font-size:1.16em; line-height:1em} 
#content .ul li a:hover {color:#05c1fa; text-decoration:none; background:url(images/button-1.gif) top left no-repeat;}
#content .ul li a:hover span{color:#1a1a1a; text-decoration:none;}
#content .ul li .current{ text-decoration:none; background:url(images/button-1.gif) top left no-repeat;  }
#content .ul li a span{ color:#767676; text-transform: none; font-size:.85em }

#content .ul li .current span{ color:#1a1a1a}
#content .ul li .current{ color:#05c1fa}

#content .bullets {margin-bottom: 17px; margin-left: 20px; padding: 0; list-style:circle;}
#content .bullet { 
	background:url(images/spacer.gif);
	list-style-image:url(images/backgrounds/bullet_ball_green.png);
	line-height:20px;
	text-align:justify;	
}
#content .bullet a{color:#1a1a1a; text-decoration:underline; line-height:normal; background:transparent; background-position:0px; padding-left:0px;} 
#content .bullet a:hover {color:#1a1a1a; }



.link-1 { display:block; float:left; background:url(images/link_bg.gif) left top repeat-x; color:#ffffff; text-decoration:none; }
.link-1 em { display:block; background:url(images/link_left.gif) no-repeat left top;}
.link-1  b { display:block; background:url(images/link_right.gif) no-repeat right top; padding:7px 14px 11px 13px; font-weight:normal; font-style:normal;}
.link-1:hover{ text-decoration:none; color:#000000}

.link-2 { display:block; float:left; background:url(images/link_bg1.gif) left top repeat-x; color:#ffffff; text-decoration:none; }
.link-2 em { display:block; background:url(images/link_left1.gif) no-repeat left top;}
.link-2  b { display:block; background:url(images/link_right1.gif) no-repeat right top; padding:7px 14px 11px 13px; font-weight:normal; font-style:normal;}
.link-2:hover{ text-decoration:none; color:#000000}


/*header*/
#header {font-size:0.8125em; color:#FFFFFF }
#header .logo{ margin:50px 0 0 0; position:absolute }
#header .callus{ margin: 20px 0 0 800px; position: absolute; width: 157px}
#header .menu{ margin:144px 0 0 13px; position:absolute }
#header .indent{margin:123px 0 0 840px; position:absolute; width:117px}
#header .indent1{padding:240px 0 0 77px}
#header .indent2{padding:0 0 0 128px}
#header h1 {
	color:#fff;
	font-size:3.69em; 
	line-height:1.2em; 
	margin-bottom:13px; 
	background:url(images/logo_background.png) no-repeat top left; 
	padding:5px 0 5px 61px; 
	letter-spacing:-2px  
}
#header h1 a{ color:#fff; text-decoration:none }
#header h1 a:hover{ color:#fff; text-decoration:none }
#header .txt{ font-size:1.307em; font-style:italic}
#header .slogan{ font-size:3.076em; font-style:italic; font-weight:bold; text-transform:uppercase;}
#header .slogan span{ font-size:.875em; text-transform:none; font-style:italic; font-weight:normal;}

#header ul{margin:0; padding:0; list-style:none;}
#header ul li{ margin:0; display:inline}
#header ul .last{background:none}
#header ul li a{color:#fff; text-decoration:none; width:102px; text-align:center; display:block; float:left ; padding:17px 10px 23px 0} 
#header ul li a:hover { text-decoration:none; background:url(images/bg_menu.gif) top left no-repeat;}
#header ul li .current{ text-decoration:none; background:url(images/bg_menu.gif) top left no-repeat;  }


/*content*/
#content{ font-size:0.75em; width:100%; text-align:justify; color: #000000;}
#content .indent-main{padding:0 2px 0 0}
#content .title{  margin-bottom:16px}
#content .img-left{ float:left; margin:0 20px 20px 0}
#content .img-indent{ margin:0 0 16px 0}
#content p{ margin:0 0 17px 0}
#content .p{ margin:0}
#content .p1{ margin:0 0 7px 0}
#content h3{color:#02bef8; font-size:1.33em; margin-bottom:15px; font-weight:normal;  }
#content h2{color:#060606; font-size:1.16em; text-transform:uppercase; margin-bottom:11px; font-weight:normal;  }
#content .h2-1{color:#060606; font-size:1.16em; text-transform:uppercase; margin-bottom:21px; font-weight:normal;  }
#content h4{color:#8b870e; font-size:1em; margin-bottom:13px;  }
#content .tail{ background:url(images/tail.gif) repeat-x bottom; padding-bottom:9px; margin-bottom:9px}
#content .txt{ color:#000000}

#content .indent{padding:14px 0 0 0}
#content .indent1{margin:0 0 -10px 0; position: absolute}
#content .indent2{padding:53px 0 0 0;}
#content .indent3{padding:31px 0 0 0}

/*box*/
.box{ background:#63c303; width:100%;}
.box .border-top {background:url(images/border_top.gif) repeat-x top;}
.box .border-bottom {background:url(images/border_bottom.gif) repeat-x bottom;}
.box .border-left {background:url(images/border_left.gif) repeat-y left;}
.box .border-right {background:url(images/border_right.gif) repeat-y right;}
.box .corner-top-left {background:url(images/corner_top_left.gif) no-repeat left top;}
.box .corner-top-right {background:url(images/corner_top_right.gif) no-repeat right top;}
.box .corner-bottom-left {background:url(images/corner_bottom_left.gif) no-repeat left bottom;}
.box .corner-bottom-right {background:url(images/corner_bottom_right.gif) no-repeat right bottom; width:100%; }
.box .indent-box{ padding:25px 28px 33px 30px; }
/*box1*/
.box1{ background:#fff; width:100%;}
.box1 .corner-top-left {background:url(images/corner_top_left1.gif) no-repeat left top;}
.box1 .corner-top-right {background:url(images/corner_top_right1.gif) no-repeat right top;}
.box1 .corner-bottom-left {background:url(images/corner_bottom_left1.gif) no-repeat left bottom;}
.box1 .corner-bottom-right {background:url(images/corner_bottom_right1.gif) no-repeat right bottom; width:100%; }
.box1 .indent-box{ padding:26px 30px 30px 33px; }
.box1 .indent-box1{ padding:26px 30px 17px 33px; }
/*box2*/
.box2{ background:#fff; width:100%;}
.box2 .border-bottom {background:url(images/border_bottom2.gif) repeat-x bottom;}
.box2 .corner-top-left {background:url(images/corner_top_left1.gif) no-repeat left top;}
.box2 .corner-top-right {background:url(images/corner_top_right1.gif) no-repeat right top;}
.box2 .corner-bottom-left {background:url(images/corner_bottom_left2.gif) no-repeat left bottom;}
.box2 .corner-bottom-right {background:url(images/corner_bottom_right2.gif) no-repeat right bottom; width:100%; }
.box2 .indent-box{ padding:43px 30px 25px 26px; }
.box2 .indent-box1{ padding:33px 30px 15px 33px; }


/*footer*/
#footer { color:#fff; font-size:0.6875em;}
#footer .indent-footer{ padding:17px 50px 0 27px;}
#footer a {color:#4cc9da; text-decoration:none}  
#footer a:hover {  text-decoration:underline}

.block-contact span{ float:right; margin-right:10px}
